.card.mb-5
    .card-body
        %h5.card-title= post.title
        .d-flex
            %i.bi.bi-calendar(style="margin-right: 12px")
            %h6.cart-subtitle.ml-2.mb-5.text-muted(style="padding-top: 2px")= post.ref_date.strftime('%e. %B')
        %p.card-text= post.body