%nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-5.sticky-top
  .container
    = link_to root_path, class: 'navbar-brand' do
      %i.bi.bi-bootstrap(style="font-size: 24px")
      Bootstrap Blog